[submodule "src/Adc"]
	path = src/Adc
	url = ssh://git@github.com/microfarad-de/Adc
[submodule "src/Cli"]
	path = src/Cli
	url = ssh://git@github.com/microfarad-de/Cli
[submodule "src/Led"]
	path = src/Led
	url = ssh://git@github.com/microfarad-de/Led
[submodule "src/Nvm"]
	path = src/Nvm
	url = ssh://git@github.com/microfarad-de/Nvm
[submodule "src/Math"]
	path = src/Math
	url = ssh://git@github.com/microfarad-de/Math
[submodule "src/LiCharger"]
	path = src/LiCharger
	url = ssh://git@github.com/microfarad-de/LiCharger
[submodule "arduino-mk"]
	path = arduino-mk
	url = ssh://git@github.com/sudar/Arduino-Makefile
